@model object

@{
    ViewBag.Title = "title";
    Layout = "Login page";
}

<form asp-controller="Auth" asp-action="Login" method="post">
    Email: <input type="email" name="email"/>
    Password: <input type="password" name="password"/>
</form>
